:root {
  --main-bright-color: #b8b8b8;
  --main-dark-color:  #111316;
}

body, nav {
  color: var(--main-bright-color);
  background: var(--main-dark-color);
}

nav .collapsible > button  {
  color: var(--main-bright-color);
  background: var(--main-dark-color);
}

button {
  color: var(--main-bright-color);
  background: var(--main-dark-color);
}

a a:visited {
  color: var(--main-bright-color);
  background-image: none;
}

.progress, button.btn-primary, .badge {
  color: var(--main-dark-color);
}

.progress .bar.success {
  background-color: #85a061;
}

.progress .bar.secondary {
  background-color: #91a0ad;
}